JWT_SECRET=m6GHGeZFEane8Pqkdzi+x4eFdLcrbM2xnF6fTRZRkKOZ4ZuWQ8TmFBAPtaozq3JLwItRfLnLzxMEha5TKSWxRQ==
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7

INTERNAL_API_KEY=8d25b7ce16d1b20fb873c3726ae2251479d851571254bddba9de00a663f3313e
