POSTGRES_DB_NAME=gpay_auth
POSTGRES_DB_USER=gpay_auth_user
POSTGRES_DB_PASSWORD=auth_secret_password


JWT_SECRET=copy_from_env
JWT_ACCESS_EXPIRY_MINUTES=15
JWT_REFRESH_EXPIRY_DAYS=7

INTERNAL_API_KEY=copy_from_env
